# Capaxero Cloud / UPUS IoT - Configuração de Ambiente
PORT=3000

# Cielo Conecta - Homologação (Cartão Débito / Crédito Presencial)
CIELO_ENVIRONMENT=Producao
CIELO_AUTH_URL=https://authsandbox.cieloecommerce.cielo.com.br/oauth2/token
CIELO_BASE_URL=https://apisandbox.cieloecommerce.cielo.com.br
CIELO_INIT_URL=https://parametersdownloadsandbox.cieloecommerce.cielo.com.br/api/v0.1/initialization
CIELO_CLIENT_ID=
CIELO_CLIENT_SECRET=
CIELO_SUBORDINATED_MERCHANT_ID=
CIELO_TERMINAL_ID=00000001

# Licença Pinpad Gertec PPC930 (PPCONECTA)
CIELO_PINPAD_LICENSE=
CIELO_PINPAD_COMPANY=capaxero
CIELO_PINPAD_COMM=USB
CIELO_CARD_TIMEOUT_SECONDS=90

# Cielo E-Commerce / PIX
CIELO_MERCHANT_ID=
CIELO_MERCHANT_KEY=

# Segurança & Admin
CAPAXERO_ADMIN_PASSWORD=
CAPAXERO_ADMIN_TOKEN=
CAPAXERO_WEBHOOK_TOKEN=
CAPAXERO_CORS_ORIGINS=
